<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<script type="text/javascript" charset="utf-8" src="/static/js/jquery-1.3.2.min.js"></script>
	<title>{{ Title }}</title>
</head>
<body>
<script type="text/javascript" charset="utf-8">
$(function() {
    $(".job-form").submit(function() {
	var act = $(this).attr('action');
	var vars = $(this).serializeArray();
	$.post(act, vars);
	return false;
    });
});	
</script>
<h1><a href="/">{{ Title }}</a></h1>
<a href="{{ Url }}">{{ Label }}</a>
<div id="name">{{ Msg }}</div>
<hr>
{% if player %}
    <h3>Self:</h3>
    <b>{{ player.name }}</b>
    money: {{ player.money }}
    power: {{ player.power }}
    vigor: {{ player.vigor }}
    fame: {{ player.fame }}
    <hr>
{% else %}
    {% ifequal Label "Logout" %}
<form action="/join" method="post">
    Nickname:<input type="text" name="name" value="">
    <br>
    <input type="submit" value="join">
</form>
    {% endifequal %}
{% endif %}
<h3>Work list:</h3>
{% for j in jobs %}
<form action="/work" method="post" class="job-form">
    <b>{{ j.name }}</b> salary: {{ j.salary }}<br>
    <input type="hidden" name="player" value="{{ player.key }}">
    <input type="hidden" name="job" value="{{ j.key }}">
    <input type="text" name="hour" size="1" maxlength="1" value="1">
    <input type="submit" value="Go">
</form>
{% endfor %}
<h3>Players:</h3>
{% for p in players %}
<b>{{ p.name }}</b> money: {{ p.money }}, power: {{ p.power }}, vigor: {{ p.vigor }}, fame: {{ p.fame }}<br>
{% endfor %}

</body>
</html>
